.about-container{
     display:flex;
    justify-content:center;
    align-items:flex-start; 
  width: 53em;
    height:49em;
  background: #d1d7dd;
  position: relative;
  left: 65%;
  margin-top: 300px;
  top: 8em;
  transform: translate(-50%, -50%);
  perspective: 1000px;
  border-radius: 1em;
  border-bottom: 1px solid red;
  border-top: 1px solid rgb(255, 238, 0);
  border-left: 1px solid rgb(0, 255, 89);
  border-right: 1px solid rgb(0, 255, 234);
  
}
.div-about{
    height:  47.9em;
    width: 46.4em;
    position: absolute;
    left: 40px;
    top: 0.6em;
    background-color: #345b8c;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 0.5s ease-in;
    border-radius: 1em;
}
.about-container:hover .div-about{
    transform: rotateY(-180deg);
}
.figureBoth{
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.front{
    /* background: url(../../assets/araz-saydu.png); */
    background-repeat: no-repeat;
    border-left: 1px solid rgb(80, 10, 171);
    border-radius: 1em;
    background-size: cover;
    /* height: 44em; */
    }
    .aras{
        height:  47.9em;
        width: 46.4em;
        border-radius: 10px;
    }
    .araz{
        height:  47.9em;
        width: 46.4em;
        border-radius: 10px;
    }
figure.back{
    background: green;
    transform: rotateY(180deg);
    border-radius: 1em;
    background-size: cover;
}
.figureBoth{
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.about-section{
    font-size: 2em;
    font-family: "Helvetica Neue";
    text-align: justify;
    /* padding: 1.6em; */
    padding: 0em 1.4em 0em 2em;
    margin-top: -0.3em;
   
  
}
.section-text{
    padding: 0.2em 0.2em 0.2em 0.2em;
    border-bottom: 1px solid rgba(0, 46, 111, 0.446);
    border-top: 1px solid rgba(77, 122, 0, 0.638);
    border-left: 1px solid rgb(62, 160, 96);
    border-right: 1px solid rgb(5, 126, 133);
    background: #F7F7F7;
    /* outline: 1px solid rgb(2, 98, 113); */
    color: #425C00;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    border: 1px solid #b500ac;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(
        45deg,
        #06dee1,
        #79ff6c
    );
    border-radius: 3px;
}
