@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Montserrat:ital,wght@1,500&family=Urbanist:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Caveat:wght@700&family=Montserrat:ital,wght@1,500&family=Urbanist:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Caveat:wght@700&family=Montserrat:ital,wght@1,500&family=Shadows+Into+Light&family=Urbanist:wght@200&display=swap');
body {
    background: #252839;
    font-family: 'Beau Rivage', cursive;
}
.defines-Head{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* min-height: 100vh; */
    background: #252839;
}

.defines-H1{
    position: relative;
    font-size: 5vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    font-family: "Caveat";

}
.defines-H1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0%,10%,100%
    {
        width: 0;

    }
    70%,90%
    {
        width: 100%;
    }
}

.self-pic-Box{
    display:flex;
    justify-content:center;
    align-items:center;
}
.self-pic{
    opacity: 0.09;
    border: 0;
}
.skill-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.skill-div{
    color: white;
    font-size: 2em;
    font-family: 'Architects Daughter', cursive;

}
.skill-JAVA{
    color: yellow;
}
.skill-JAVA:hover{
    /* border-bottom: 2px solid red; */
}
.skill-JAVA::after{
    content: "";
    position: absolute;
    height: 0.175rem;
    left: 14.9em;
    bottom: -1.5em;
    background: rgb(255, 251, 0);
    width: 5em;
}

.center::after{
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.center:hover::after{
    transform: scale(1, 1);
}