.project-container{
    border-top: 1px solid red;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height: 100%;
    top: 2em;
}
.project-title{
    font-size: 4em;
    color: #D7C49EFF;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.project-title:hover{
    color: #2DA8D8FF;
}
.project-box{
    border-top: 1px solid green;
    height: 100%;
    width: 70%;
    margin-bottom: 2em;
}
.project-about-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
	float: left;
	/* height: 300px;
	width: 65px; */
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
    
}
.project-about-container:hover{
  
    
}
.air-quality{
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
}
.air-quality:hover{
    /* opacity: 0.3; */
}
.project-figcaption{
    position: absolute;
    
     width: 100%; 
    height: 157rem;
    font-size:2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-heading-about{
    position: relative;
    bottom: 100px;
    left: 30%;
    width: 60%;

    color: rgba(14, 82, 101, 0.802);
}

.project-figcaption:hover{
}
.project-about{
    width: 100%;
    margin-top: 65rem;
    margin-left: -33rem;
    color: rgba(14, 82, 101, 0.802);
    font-family: "Caveat";
	

}
.about-visibile {
}
.about-visibile:hover{

}