.sticky-sidebar-lesson {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
   /* width: 80%; */
   /* margin: 0 auto; */
   align-items: center;
   position: relative;
  
 } 
 
.sticky-sidebar::before,
.sticky-sidebar::after {
  --scale: 0;
  --tooltip-color: #333;
  --arrow-size: 10px;

  position: absolute;
  top: 8em;
  /* right: -5em; */
  left: 90%;
  border: 1px solid rgb(5, 49, 90);
  height: 8em;
  transform: translateX(-50%) translateY(var(--translat-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: center;
   /* display: table;
   content: "";
   clear: both; */
 }  
 .sticky-sidebar:before{
  --translat-y: calc(-100% - var(--arrow-size));
  content: attr(data-tooltip);
  padding: .5rem;
  width: max-content;
  max-width: 100%;
  border-radius: .3rem;
  text-align: center;
  background-color:   var(--tooltip-color);
  color: rgb(58, 4, 4);

 }
 .sticky-sidebar:hover::before,
 .sticky-sidebar:hover::after{
  --scale: 1;

 }
 .sticky-sidebar:hover::after{
  --translat-y: calc(-1 * var(--arrow-size));
  content: " ";
  /* position: absolute; */
  /* left:4em; */
  /* top: 3em; */
  border: var(--arrow-size) solid transparent;
  border-top-color:   var(--tooltip-color);
  transform-origin: top center;

 }
 /* .sticky-sidebar:hover::after{
  content: " ";
  top: 3em;
  border: 10px solid transparent;
  border-bottom-color: rgb(245, 245, 245);

 } */
 
 /* .sticky-sidebar-lesson .sandbox {
   width: 60%;
   margin: 0 0 40px;
   float: left;
 } */
 
 .sticky-sidebar {
   background: #e7eef1;
   /* padding: 40px 40px 60px; */
   box-sizing: border-box;
   border-radius: 2px;
   box-shadow:  1px 1px 5px 0px  #01fe87;
   /* position: fixed; */
   /* right: 2%; */
   /* width: 16%; */
   /* float: right; */
   position: fixed;
   top: 35em;
  
 }