.sticky-sidebar-lesson {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
   /* width: 80%; */
   /* margin: 0 auto; */
   align-items: center;
   position: relative;
  
 } 
 
.sticky-sidebar::before,
.sticky-sidebar::after {
  content: attr(data-tooltip);
  color: rgb(58, 4, 4);
  position: absolute;
  top: -2em;
  left: 50%;
  border: 1px solid rgb(5, 49, 90);
  height: 10em;
  transform: translateX(-50%) ;

   /* display: table;
   content: "";
   clear: both; */
 }  
 
 /* .sticky-sidebar-lesson .sandbox {
   width: 60%;
   margin: 0 0 40px;
   float: left;
 } */
 
 .sticky-sidebar {
   background: #e7eef1;
   /* padding: 40px 40px 60px; */
   box-sizing: border-box;
   border-radius: 2px;
   box-shadow:  1px 1px 5px 0px  #01fe87;
   /* position: fixed; */
   /* right: 2%; */
   /* width: 16%; */
   /* float: right; */
   position: fixed;
   top: 35em;
  
 }